/* Full screen container */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
  font-family: "Segoe UI", sans-serif;
}

/* Card */
.auth-card {
  width: 360px;
  background: white;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  text-align: center;
}

/* Titles */
.auth-title {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
  color: #2e7d32;
}

.auth-subtitle {
  font-size: 18px;
  color: #777;
  margin-bottom: 25px;
}

/* Form */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Inputs */
.auth-form input,
.auth-form select {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.3s;
}

.auth-form input:focus,
.auth-form select:focus {
  outline: none;
  border-color: #2e7d32;
  box-shadow: 0 0 0 3px rgba(46, 125, 50, 0.1);
}

/* Button */
.primary-btn {
  background: #2e7d32;
  color: white;
  padding: 12px;
  border-radius: 14px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.primary-btn:hover {
  background: #256628;
  transform: translateY(-2px);
}

/* Footer */
.auth-footer {
  margin-top: 20px;
  font-size: 14px;
}

.auth-footer span {
  color: #2e7d32;
  font-weight: 600;
  cursor: pointer;
}

.auth-footer span:hover {
  text-decoration: underline;
}

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
  font-family: "Segoe UI", sans-serif;
}

.auth-card {
  width: 380px;
  background: white;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.auth-title {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
}

.auth-subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 25px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form input,
.auth-form select {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.3s;
}

.auth-form input:focus,
.auth-form select:focus {
  outline: none;
  border-color: #2e7d32;
  box-shadow: 0 0 0 3px rgba(46, 125, 50, 0.1);
}

.primary-btn {
  background: #2e7d32;
  color: white;
  padding: 12px;
  border-radius: 14px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.primary-btn:hover {
  background: #256628;
  transform: translateY(-2px);
}

.auth-footer {
  margin-top: 20px;
  font-size: 14px;
}

.auth-footer span {
  color: #2e7d32;
  font-weight: 600;
  cursor: pointer;
}

.auth-footer span:hover {
  text-decoration: underline;
}
